.withdraw {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0px
}

.withdraw >span {
    width: 50%;
    text-align: left;
}

.deposit {
    padding: 10px 0px
}